@import "tailwindcss";
@tailwind utilities;
:root, :host {
  --luxury-white: #F2F3F4;
  --luxury-black: #060D0D;
  --fish-blue: rgb(2,130,202);
  --fish-red: rgb(255,77,77);
  --fish-sky-blue: rgb(231,249,255);
}

body{
  background-color: var(--luxury-white);
  font-family: "Poppins", sans-serif
}

.topbar{
  
  background-color: var(--fish-red);
  color: white;
  height: 40px;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

header{
  background-color: white;
  height: 120px;
  width: 100%;
}

nav{
  background-color: var(--fish-blue);
  height: 50px;
  width: 100%;
}
.header-search-input {
    border-radius: 20px;
    border: 1px solid var(--line-color);
    height: 40px;
    width: 280px;
    padding: 10px 40px 10px 15px;
}